$--filter: sepia(95%) hue-rotate(135deg) blur(1.2px) opacity(65%);

:global(.grid) {
    &:hover {
        .portfolio_image {
            -webkit-filter: unset;
                    filter: unset;
        }
    }
    .portfolio_base {
        -webkit-transition : -webkit-filter 200ms linear;
        transition : filter 200ms linear;
    }
    .portfolio_image {
        /* -webkit-prefixed version 
            * still needed for 
            * some mobile browsers 💔😭 */
        -webkit-filter: $--filter;
                filter: $--filter;
    }
}