.cursive {
	font-family: 'Brush Script MT', 'Lucida Handwriting', cursive;
}
 
 
$linkcolor: cyan;
:global(.dark) {
	.link {
		color: $linkcolor;
		&::before {
			opacity: 25%;
			background-image: linear-gradient(45deg, pink 0%, paleturquoise 100%);
		}
	}
}

.link {
	/* RESET */
	text-decoration: none;
	line-height: 1;
	
	position: relative;
	z-index: 0;
	display: inline-block;
	padding: 5px 5px;
	overflow: hidden;
	vertical-align: bottom;
	transition: color .3s ease-out;
	
	position: relative;
	overflow: hidden;
	text-decoration: none;

	color: $linkcolor;
	text-shadow:0px 0px 2px paleturquoise;
	
	&:hover { 
		font-size: 1.4em;
		color: white;
		text-shadow: 2px 2px 4px #0066ff;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFED' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
		background-position: 0 100%;
		background-size: auto 6px;
		background-repeat: repeat-x;
		text-decoration: none;
	}
	&::before {
		content: "";
		position: absolute;
		// transform: translateY(0);
		z-index: -1;
		opacity: 30%;
		background-image: linear-gradient(45deg, blue 0%, black 100%);
		// transition: transform .25s ease-out;
		left: 0;
		bottom: 0px;
		width: 100%;
		height: 100%;
	 }
	&:hover::before {
		left: 12px;
		bottom: -25px;
		width: calc(100% - 16px);
		height: calc(100% - 25px);
		transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
		// transform: translateY(0);
		// transform: translateY(calc(100% - 2px));
		background-image: #FFFFED;
	 }
}