.cursor {
  opacity: 0;
  z-index: 9999;
  position: fixed;
  width: 15px;
  height: 15px;
  background-image: url("/images/snowflake.svg");
  background-position: 4px 2px;
  background-size: 80%;
  background-repeat: no-repeat;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
  }

  &.visible {
    opacity: 1;
  }
}

.animated {
  animation-iteration-count: infinite;
  transform-origin: center;
  animation-name: rotatedIn3d;
  animation-duration: 1.25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
}

.animated_static {
  animation-name: rotateNormal;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes rotatedIn3d {
  0% {
    transform: rotate3d(0,0, 0,0deg);
    // transform: rotate(0deg);
    background-position: 2px 0px;
    background-size: 85%;
  }
  33% {
    transform: rotate3d(36,36,-36,260deg);
    background-position: 3px 5px;
    background-size: 82.5%;
  }
  33% {
    transform: rotate3d(36,36,-36,45deg);
    background-position: 3px 5px;
    background-size: 82.5%;
  }
  66% {
    transform: rotate3d(36,36,-36,190deg);
    background-position: 3px 5px;
    background-size: 82.5%;
  }
  100% {
    // transform: rotate(360deg);
    transform: rotate3d(36,36,-36,360deg);
    background-position: 2px 0px;
    background-size: 85%;
  }
}

@keyframes rotateNormal {
  0% {
    transform: rotate(0deg);
    background-position: -6px -8px;
  }
  33% {
    background-position: 0px 20px;
  }
  66% {
    background-position: 24px 2px;
  }
  100% {
    transform: rotate(360deg);
    background-position: -6px -8px;
  }
}